{% extends "base.html" %}
{% load static %}
    {% block title%}MultiHub{% endblock%}
    {% block content%}
    <body class="flex flex-row w-screen h-screen">
            <div class="flex flex-col gap-10 border-r-2 w-1/6 h-full p-10">
                <h2 class="text-4xl font-sans font-extralight">MultiHub</h2>
                <div class="flex flex-row gap-2 items-center">
                    {% if profile.icon %}
                    <img src={{profile.icon.url}} class="w-16 rounded-full">
                    {% else %}
                    <img src={% static 'defect.jpeg'%} class="w-16 rounded-full">
                    {% endif%}
                    <a href="/profile"><p class="text-xl">Perfil</p></a>
                </div>
            </div>
    </body>
    {% endblock%}
